:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg-color: #000000;
  --button-text-color: #ffffff;
  --project-bg-color: #CFCFCF;
  --heavy-accent: #01497C;
  --lighter-accent: #89C2D9;
  --links-light: #2A6F97;
  --links-light-hover: #61A5C2;
  --links-dark: #4C9BB0;
  --links-dark-hover: #76C1D4;
}

a {
  color: var(--links-light);
  text-decoration: none;
}

a:hover {
  color: var(--links-light-hover);
  text-decoration: underline;
}

body.dark-mode a {
  color: var(--links-dark); /* Lighter tone for links in dark mode */
}

body.dark-mode a:hover {
  color: var(--links-dark-hover); /* Hover effect for dark mode */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: color 0.3s ease;
}

body.dark-mode {
  --background-color: #000000;
  --text-color: #f5f5f5;
  --button-bg-color: #ffffff;
  --button-text-color: #000000;
}

button {
  font-family: Arial, sans-serif;
  transition: color 0.3s ease;
}

header {
  background: var(--heavy-accent);
  color: var(--lighter-accent);
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: #5bb4cd;
  text-decoration: none;
}

button#theme-toggle {
  position: absolute;
  top: 17px;
  right: 17px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

button#theme-toggle:hover {
  opacity: 0.8;
}

section {
  padding: 2rem;
  text-align: center;
}

body.dark-mode .project {
  --project-bg-color: #212121;
}

#about p {
  padding: 25px;
}

.project {
  background: var(--project-bg-color);
  width: 75%;
  margin: 70px auto;
  padding: 10px 30px;
  padding-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.project:hover {
  transform: scale(102%);
}

.project-img {
  width: 40%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 0px;
}

footer {
  background: var(--heavy-accent);
  color: var(--lighter-accent);
  text-align: center;
  padding: 1rem 0;
}

body.dark-mode .show-code {
  --background-color: #e5e5e5;
}

.show-code {
  background-color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.show-code:hover {
  opacity: 0.7;
}

body.dark-mode .modal {
  --background-color: #6C757D;
  --project-bg-color: #495057;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content pre {
  background-color: var(--project-bg-color);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.close {
  color: #f5f5f5;
  top: 10px;
  right: 20px;
  position: fixed;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #bbbbbb;
}

.close:focus {
  color: black;
  text-decoration: none;
}