/* Default link styles (Light Mode) */
a {
  color: #AFD3D3; /* Light greenish color to match the light theme */
  text-decoration: none;
}

a:hover {
  color: #82B1B1; /* Slightly darker greenish tone for hover effect */
  text-decoration: underline;
}

a:visited {
  color: #8CBEBE; /* Distinct color for visited links in light mode */
}

a:active {
  color: #5F7F7F; /* Darker tone for active link */
}

/* Dark Mode link styles */
body.dark-mode a {
  color: #82B1B1; /* Lighter tone for links in dark mode */
}

body.dark-mode a:hover {
  color: #AFD3D3; /* Hover effect for dark mode */
}

body.dark-mode a:visited {
  color: #5F7F7F; /* Distinct color for visited links in dark mode */
}

body.dark-mode a:active {
  color: #354F4F; /* Darker tone for active link in dark mode */
}
